{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Create A User {% endblock %}
{% block content %}

<h2>Login Here</h2>

{% if success %}
<div class="alert alert-success">Congratulation!!! Login Succesfull.

</div>
{% else %}

<form method="POST">

  {{ form|crispy }}
  {% csrf_token %}
  <input type="submit" name="submit" value="Sign In" class="btn btn-primary btn-md">

</form>
<div class="alert alert-warning">
  Haven't Registerd Yet? <a href="{% url 'login_app:signup' %}" class="alert-link">Sign Up First</a>
</div>
{% endif %}
{% endblock %}
