<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login_app:signout' %}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login_app:signup' %}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login_app:signin' %}">Login</a>
    </li>
  {% endif %}

  </ul>
</nav>
